.ul {
  font-family: 'Open sans', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #63AA9C;
  margin-bottom: 20px;
}

.li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.li-active) {
  background-color: #2a6358;
}

.li-active {
  background-color: #E9633B;
}

.about {
  float:right;
}

