input {
  padding: 10px;
  margin: 5px 0; 
}

.form-container {
  width: auto;
  display: block;
  margin-left: 50px;
}

form {
  text-align: left;
}

.submit-btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}