.app {
  text-align: center;
  color: #221E1D;
  font-family: 'Open sans', sans-serif;
}

.app__container {
  display: inline-block;
  text-align: left;
  padding: 10px;
  background-color: #E9633B;
  width: 35%;
}

.avatar__component {
  width: 40%;
}

.user-details__component {
  background-color: #ECEAE0;
  width: 60%;
}

.content__component {
  background-color: #63AA9C;
}

.inf-container {
  display:flex;
}

.text {
  padding: 5px;
  display:inline-block;
}

li {
  padding: 5px;
  margin: 10px;
  background-color: #ECEAE0;
}

li:hover {
  cursor: pointer;
}

ul {
  list-style: none;
	margin: 0px;
  margin-top: 15px;
}

img {
  width: 100%;
  height: 100%
}

a {
  text-decoration: none;
  color: #221E1D;
}

.content-container{
  width: 100%;
  text-align: center;
}

.album-img {
  width: 90px;
  padding: 5px;
}

.img-container {
  width: 90%;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.album-container {
  width: 90%;
  background-color: #7c5ea3;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

button {
  background-color: #ECEAE0;
}
