body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  color: #221E1D;
  font-family: 'Open sans', sans-serif;
}

.app__container {
  display: inline-block;
  padding: 0 15px;
  background-color: #E9633B;
  width: 35%;
}

.avatar__component {
  width: 40%;
}

.user-details__component {
  text-align: left;
  background-color: #ECEAE0;
  width: 60%;
}

.content__component {
  background-color: #63AA9C;
}

.inf-container {
  display:flex;
}

.text {
  display:inline-block;
  padding: 5px;
}

.li-album {
  padding: 10px;
  margin: 12px;
  background-color: #ECEAE0;
}

.content__component {
  list-style: none;
  padding-left: 0;
  padding: 8px;
}

img {
  width: 100%;
  height: 100%
}

a {
  text-decoration: none;
  color: #221E1D;
}

.content-container{
  width: 100%;
  text-align: center;
}

.album-img {
  width: 100px;
  padding: 5px;
}

.img-container {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 20px;
}

.album-container {
  padding-top: 10px;
  margin: 10px;
}

button {
  border-color: #a6b2cc;
  color: #221E1D;
  padding: 8px 18px;
  font-size: 16px;
  margin: 0px 7px;
  background-color: #ECEAE0;
}

.close-button {
  padding: 5px 10px;
}

.title-container, button:hover {
  cursor: pointer;
}
p {
  font-size: 24px;
  color: #ECEAE0;
  margin: 0;
  padding: 0;
}

.addAlbum-container {
  margin-top: 15px;
}